<div class="card">
  <div class="card-header">Atualizar Produto</div>
  <div class="card-body">
    <form [formGroup]="form" #formDir="ngForm">
      <div class="form-group">
        <label for="name">Nome do Produto</label>
        <input class="form-control" formControlName="name" id="prodNome" placeholder="produto" required>
      </div>
      <div *ngIf="name.invalid && formDir.submitted" class="validation-error">
        <span *ngIf="name.errors?.['required']">campo obrigatorio</span>
      </div>
        <div class="form-group">
          <label for="price">Preco</label>
          <input type="number" class="form-control" formControlName="price" id="prodPreco" placeholder="9.99" required>
        </div>
        <div *ngIf="price.invalid && formDir.submitted" class="validation-error">
          <p *ngIf="price.errors?.['required']">campo obrigatorio</p>
        </div>

      <button type="submit" class="btn btn-primary mr-2" (click)="updateProduct()">Atualizar</button>
      <button type="button" class="btn btn-secondary" (click)=cancel()>Cancel</button>
    </form>
  </div>
</div>